body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

header {
  padding-top: 2rem;
}

.row {
  margin-top: 2px;
}

.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.search-bar {
  padding-top: 3rem;
}

.search-bar__input, .search-bar__button {
  min-height: 3rem;
}

.preview-card__wrapper {

  display: inline-block;
  margin: 18px;
  padding: .7rem;
  border-radius: 3px;
  border: solid 0.05px rgb(246, 244, 244);

  height: 375px;
  cursor: pointer;
 

  box-shadow:
    0 0.8px 3.6px rgba(0, 0, 0, 0.021),
    0 2.1px 10px rgba(0, 0, 0, 0.03),
    0 5.1px 24.1px rgba(0, 0, 0, 0.039),
    0 17px 80px rgba(0, 0, 0, 0.06)
    ;

  transition: 0.3s;

    
}

.preview-card__wrapper:hover {
  transform: scale(1.003); 
  box-shadow:
    0 5.6px 3.6px rgba(0, 0, 0, 0.035),
    0 15.5px 10px rgba(0, 0, 0, 0.05),
    0 37.4px 24.1px rgba(0, 0, 0, 0.065),
    0 124px 80px rgba(0, 0, 0, 0.1)
;

}

.preview-card__img {
  min-height: 242px;
}

.preview-card__text {

  padding-top: .6rem;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  text-overflow: ellipsis;

  color: black;
}

.detail-page__wrapper {
  margin-top: 15vh;
}

.detail-page__img {
  min-height: 473px;
}

.detail-page__info-wrapper {
  padding-left: 45px;

  font-family: Arial, Helvetica, sans-serif;
}

.detail-page__titel {
  font-size: 38px;
  font-weight: bold;
  color: rgb(221, 10, 52);
}

.detail-page__sub-headline {
  font-size: 16px;
  font-weight: bold;
}

.detail-page__sub-info-text {
  font-size: 14px;
}

.detail-page__overview-text {
  font-size: 18px;
}

.basic-btn {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(221, 10, 52);
  border: solid 2px rgb(221, 10, 52);
  background: transparent;
  transition: 250ms;
}

.basic-btn:hover { 
  background: rgb(221, 10, 52);
  color: white;
}

.back-btn {
  margin-top: 5vh;
}

.search-bar__input {
  border: solid 2px rgb(221, 10, 52);
  border-right: none;
  padding-left: 15px;
}

.search-bar__input:focus {
  background-color: rgb(221, 10, 52);
  font-size: 16px;
  font-weight: bold;
 
  color: white;
  outline: none;
}

.search-bar__input:focus::-webkit-input-placeholder{
  color: transparent!important;
}
.search-bar__input:focus::-moz-placeholder{
  color: transparent!important;
}
.search-bar__input:focus:-moz-placeholder{
  color: transparent!important;
}




